.cart {
  /* background-color: rgb(201, 99, 99); */
  margin: 2rem auto;
  max-width: 1200px;
  height: 80vh;
}

.cart-header {
  text-align: center;
}
.cart-detail {
  /* background-color: rgb(201, 99, 99); */
  padding: 1rem;
  border-radius: 5px;
  display: flex;
}

.cart-detail img {
  width: 100px;
  height: 100px;
}

.cart-detail > * {
  margin: 0 1rem;
}
